<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Luna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Luna.Properties.Settings>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeAppTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeSystemTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightWallpaperPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkWallpaperPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LightThemeHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LightThemeMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DarkThemeHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DarkThemeMinute" serializeAs="String">
                <value>0</value>
            </setting>
        </Luna.Properties.Settings>
    </userSettings>
</configuration>